a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
.textstyle2 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle3 { text-align:center; }
#text_4146eb3e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle4 { font-size:48pt; font-family:Georgia, serif; color:#000000;  }
#text_798910f0 { vertical-align: bottom; position:relative; display: inline-block; width:57px; height:41px; background:none;  }
.textstyle5 { font-size:28pt; font-family:Georgia, serif; color:#000000;  }
#text_382cbccc { vertical-align: bottom; position:relative; display: inline-block; width:700px; height:130px; background:none;  }
.textstyle6 { font-size:10pt; font-family:MS Sans Serif, Geneva, sans-serif; color:#000000;  }
.textstyle7 { font-size:10pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
#text_23932c22 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7912be8c { vertical-align: bottom; position:relative; display: inline-block; width:700px; background:none;  }
#text_33e818a { position:absolute; left:60%; top:16%; background:none;  }
